<header class="navbar-nav navbar-inverse navbar-fixed-top">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-ng-click="headerController.toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="assets/img/logo30.png" alt=""> Hal9000</a>
    </div>
    <nav class="navbar-collapse {{!headerController.isCollapsed ? 'collapse' : 'in'}}">
        <ul class="nav navbar-nav" bs-active-link>

            <li ><a href="/home"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li ><a href="/events"><i class="fa fa-list-alt"></i> Events</a></li>
            <li ><a href="/charts"><i class="fa fa-bar-chart-o "></i> Charts</a></li>
            <li ><a href="/lights"><i class="fa fa-lightbulb-o"></i> Lights</a></li>
            <li ng-show="!currentUser"><a href="/login"><i class="fa fa-user"></i> Login</a></li>
            <li ng-show="currentUser"><a href="#" ng-click="headerController.logout()"><i class="fa fa-user"></i> Logout</a></li>
            <li ><a href="/user"><i class="icon-home icon-white"></i> User</a></li>

        </ul>
    </nav>
</div>
</header>