table thead tr {
    background:#353535;
    height: 30px;
}
table thead th {
    border-right: 1px solid #ccc;
    color: #b2c831;
    font-size: 12px;
}
table thead th:last-of-type { border-right: none; }
table tbody {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
table tr.odd { background-color: #fff; }
table tr.even { background-color: #f6f6f6; }
table td { padding: 8px 10px; border-right: 1px solid #ccc; }
table tbody tr:hover { background-color: #ddd; }

/*.display { width: 100%; }*/



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;

    /* Note Firefox 3.5 and before have a bug with border-collapse
     * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 )
     * border-spacing: 0; is one possible option. Conditional-css.com is
     * useful for this kind of thing
     *
     * Further note IE 6/7 has problems when calculating widths with border width.
     * It subtracts one px relative to the other browsers from the first column, and
     * adds one to the end...
     *
     * If you want that effect I'd suggest setting a border-top/left on th/td's and
     * then filling in the gaps with other borders.
     */
}

table.display thead th {
    padding: 3px 18px 3px 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

table.display tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid black;
    font-weight: bold;
}

table.display tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.display td {
    padding: 3px 10px;
}

table.display td.center {
    text-align: center;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
tr.odd {
    background-color: #E2E4FF;
}

tr.even {
    background-color: white;
}





