<div class="container" style="height: 920px">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="chart-unit">
                <h4><strong>Température 1</strong></h4>
                <div class="container-canvas">
                    <nd-chart-line-histo id="temp1" topic="revspace/sensors/temperature/18/0"></nd-chart-line-histo>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="chart-unit">
                <h4><strong>Température 2</strong></h4>
                <div class="container-canvas">
                    <nd-chart-line-histo id="temp2" topic="revspace/sensors/temperature/2/99"></nd-chart-line-histo>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6"></div>
    </div>
</div>